{% extends 'service/base.html' %}
{% block content %}
<div class="container">
    <div class="card text-center" style="width: 30rem;">
        <div class="card-body">
        </div>
        <div class="photo">
            <img src="/static/customer.jpg" alt="" border=5 height=300 width=400>
        </div>
        <div class="description">
            <h2>{{object.name}}</h2>
            <h4> {{object.email}}</h4>
            <h1>{{object.comment}} </h1>
            <p>{{object.mailing.state_mail}}</p>
            <button><a class="btn btn-warning" href="{% url 'service:update_customer' object.pk %}">Изменить</a>
            </button>
            <button><a class="btn btn-warning" href="{% url 'service:delete_customer' object.pk %}">Удалить</a></button>

        </div>
    </div>
</div>

{% endblock %}